.transaction-entry{
    list-style: none;
    color: white;
}

.title-total{
    text-align: center;
    background-color: white;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}